@import './reset.css';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&display=swap');
* {
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

html {
  font-size: 16px;
  font-weight: normal;
  font-family: 'Noto Sans KR', sans-serif;
  color: #333333;
}

#topPopUp {
  min-width: 1050px;
  height: 42px;
  text-align: center;
  line-height: 42px;
  background-color: #748ffc;
  color: white;
  font-size: 18px;
  transition: display 1s, opacity 1s;
}

#topPopWrap {
  width: 1050px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

#topPopCls {
  position: absolute;
  top: 6px;
  right: 10px;
  opacity: 0.5;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#topPopCls:hover {
  opacity: 1;
}

header {
  height: 156px;
}

#headerTop {
  width: 1050px;
  height: 37px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#headerDeli {
  width: 163px;
  height: 22px;
  background-image: url(./image/img_delivery.gif);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  margin-left: 30px;
}
.userItem {
  float: left;
  margin-right: 20px;
  font-size: 12px;
  cursor: pointer;
}

.userItem:last-child {
  margin-right: 0;
}

.strong {
  color: #748ffc;
  font-weight: bold;
}
#headerCen {
  width: 1050px;
  height: 63px;
  margin: 0 auto;
  position: relative;
}
#logoImg {
  width: 99px;
  height: 66px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -8px;
}

#headerBott {
  width: 100%;
  height: 55px;
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.03);
  background-color: white;
  z-index: 99;
}
#headerBottWrap {
  width: 1050px;
  margin: 0 auto;
}

#mainMenu {
  float: left;
}

#mainMenu li {
  float: left;
  padding: 0 50px;
  height: 55px;
  line-height: 55px;
  cursor: pointer;
}

#mainMenu li:first-child {
  padding-left: 20px;
}

#mainMenu li img {
  display: block;
  margin-right: 10px;
  float: left;
  margin-top: 21px;
}

#searchWrap {
  width: 230px;
  height: 36px;
  position: relative;
  float: left;
  margin-top: 9.5px;
}

#search {
  width: 100%;
  height: 100%;
  border-radius: 18px;
  border: none;
  background-color: #f7f7f7;
  font-size: 12px;
  padding: 0px 36px 0 18px;
}

#searchWrap img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 15px;
}

#shoppingCartImg {
  display: inline-block;
  margin-top: 12px;
  margin-left: 7.5px;
}

#mainSlideWrap {
  min-width: 1050px;
  height: 370px;
  position: relative;
  overflow: hidden;
}

#mainSlide {
  height: 100%;
  left: 0;
  right: 0;
  position: absolute;
}

#mainSlide .slideImg {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  float: left;
}

#mainSlideWrap:hover #slideControl {
  opacity: 1;
}

#mainSlideWrap #slideControl {
  opacity: 0;
  transition: opacity 1s;
  min-width: 1050px;
  width: 80%;
  height: 370px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#slideControl img {
  width: 52px;
  height: 52px;
  cursor: pointer;
}
